<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Title</title>
      <script src="../../../libs/vue.js"></script>
      <script>
            /*
                  v-for="value in 배열"
             */
      </script>
</head>
<body>
      <div id="app">
            <div class="list">
                  <ul v-for="user in list">
                       //??
                  </ul>
            </div>
      </div>
      <script>
		var data = {
			//??
		}

		var vm = new Vue({
			el: '#app',
			data:data
		})

      </script>
</body>
</html>